<table>
  <tr>
    <td>用户名</td>
    <td>角色</td>
    <td>完成量</td>
    <td>结算</td>
  </tr>
  <%  @calculation.each do |calculation|%>
    <tr>
      <td><%= calculation.name %></td>
      <td><%= User::TYPES_NAME[calculation.types] %></td>
      <td><%= calculation.time %></td>
      <td><input type="button" class="green_btn" value="<%= Calculation::IS_PAY_NAME[calculation.is_pay] %>" calculation_id="<%= calculation.id %>" onclick="whether_payment(this)"/></td>
    </tr>
  <% end %>
</table>