<% if @user.types == User::TYPES[:CHECKER]%>
<div class="container">
    <div class="item">
        <label>待一检任务：</label>
        <% if !@wait_first_check_tasks.nil? %><%= (@wait_first_check_tasks.length != 0) ? @wait_first_check_tasks.length : 0 %><% end %>
    </div>
    <div class="item">
        <label>待二检任务：</label>
        <% if !@wait_second_check_tasks.nil? %><%= (@wait_second_check_tasks.length != 0) ? @wait_second_check_tasks.length : 0 %><% end %>
    </div>
    <div class="item">
        <label>待终检任务：</label>
        <% if !@wait_final_check_tasks.nil? %><%= (@wait_final_check_tasks.length != 0) ? @wait_final_check_tasks.length : 0 %><% end %>
    </div>
</div>
<% elsif @user.types == User::TYPES[:PPT] || @user.types == User::TYPES[:FLASH] %>
<div class="container">
    <div class="item">
    	<label>进行中任务：</label>
        <% if !@goning_tasks.nil? %><%= (@goning_tasks.length != 0) ? @goning_tasks.length : 0 %><% end %>
    </div>
    <div class="item">
    	<label>超时任务：</label>
        <% if !@over_time_tasks.nil? %><%= (@over_time_tasks.length != 0) ? @over_time_tasks.length : 0 %><% end %>
    </div>
    <div class="item">
    	<label>任务领取：</label>
    	<button id="gettask" class="green_btn" onclick="get_tasks(<%= @user.id%>);">领取任务</button>
    </div>
</div>
<% else %>
<% end %>