<% @ppt_files.each do |ppt| %>
<div class="ppt_list_item">
  <div style="width:240px; float:left;">
  <a href="<%= ppt.accessory_url %>" target="_blank" title="<%= ppt.name%>-点击链接下载"><%= ppt.name.size>20?"#{ppt.name[0,20]}...":ppt.name %></a>
  </div>
  <div id="button_bar" style="width: 100px; height: 100%; float: right; float:right;">
    <input type="button" value="聊 天" onclick="chat(this);" style="margin:0 auto">
  <% if ppt.id == @ppt_files.last.id && @user.types == User::TYPES[:CHECKER] && (@task.status == Task::STATUS[:WAIT_FIRST_CHECK] || @task.status == Task::STATUS[:WAIT_SECOND_CHECK]) %>
    <input type="button" value="审 核" onclick="verify(this, <%= @user.id %>,<%= @task.id %>);" style="margin:0 auto">
  <% end %>
  </div>
</div>
<% @messages = ppt.messages %>
<% @accessory = ppt %>

<% if ppt.id == @ppt_files.last.id %>
<div id="left_chat_panel_<%= ppt.id %>" class="chat_bar" style="border-top: none;">
<% else %>
<div id="left_chat_panel_<%= ppt.id %>" class="chat_bar" style="border-top: none; display: none;">
<% end %>
  <% if ppt.id == @ppt_files.last.id %>
    <div id="chat_records_<%= ppt.id %>" class="left_chat_records" style="height: 200px;">
      <%= render :partial => "left_chat_records"%>
    </div>
  <% else %>
    <div id="chat_records_<%= ppt.id %>" class="left_chat_records">
      <%= render :partial => "left_chat_records"%>
    </div>
  <% end %>

  <% if ppt.id == @ppt_files.last.id %>
  <div id="chat_form_<%= ppt.id %>" class="left_chat_form">
    <%= render :partial => "left_chat_form"%>
  </div>
  <% end %>
</div>
<% end %>