<fieldset>
  <legend></legend>
  <%= form_tag({:controller => :messages, :action => :send_msg}, "data-type" => "script",:remote => true, :method => :post ) do %>
      <div>
        <label>聊天：</label><input name="content" type="text" size="20">
        <button id="btn_upload" type="submit" class="green_btn" >发 送</button>
      </div>
      <input id="right_user_id" type="hidden" name="user_id" value="<%= @user.id %>" />
      <input id="right_task_id" type="hidden" name="task_id" value="<%= @task.id %>" />
      <input id="right_accessory_id" type="hidden" name="accessory_id" value="<%= @accessory.id %>" />
      <input id="right_reciver_id" type="hidden" name="reciver_id" value="<%= @right_reciver.id %>">
      <input id="from" type="hidden" name="from" value="right" />
  <% end %>
</fieldset>