<div class="task_details_data">
    <div class="item">
        <label>任务名称:</label><%= @task.name %>
    </div>
    <div class="item">
        <label>任务批次:</label><%= @task.task_tag.name %>
    </div>
    <div class="item">
        <label>PPT任务资料:</label><%= @task.origin_ppt_url %>
    </div>
    <div class="item">
        <label>FLASH任务资料:</label><%= @task.origin_flash_url %>
    </div>
    <div class="item">
        <label>任务状态:</label><%= Task::STATUS_NAME[@task.status] %>
    </div>
</div>