<div class="add_users_form addUser"style="display:block">
  <div id="add_user" class="second_content">
    <span class="close" >关闭</span>
    <h1>添加用户</h1>
    <%= form_for :user, :url => { :action => :modify_user, :controller => :users }, :remote => true, "data-type" => "script" do |f| %>
      <div class="login_item" style="display: none">
        <%= f.label :用户id： %>
        <%= f.text_field :id %>
      </div>
      <div class="login_item">
        <%= f.label :用户名： %>
        <label><%= @user.name  %></label>
       
      </div>
      <div class="login_item">
        <%= f.label :密码： %>
        <%= f.text_field :password %>
      </div>
      <div class="login_item">
        <label>身份：</label>
        <select id="is_vip" name="types" class="select_marginRight">
          <option value="0" <% if @user.types.eql?(0) %>selected<% end %>>管理员</option>
          <option value="1" <% if @user.types.eql?(1) %>selected<% end %>>质检员</option>
          <option value="2"  <% if @user.types.eql?(2) %>selected<% end %>>PPT制作</option>
          <option value="3"  <% if @user.types.eql?(3) %>selected<% end %>>动画制作</option>
        </select>
      </div>
      <div class="login_item">
        <%= f.label :电话号码： %>
        <%= f.text_field :phone %>
      </div>
      <div class="login_item">
        <%= f.label :地址： %>
        <%= f.text_field :address %>
      </div>
      <div class="login_btn">
        <%= f.submit "编辑" ,:class=>"green_btn" %>
      </div>
    <% end %>
  </div>
</div>
<script>
  $(".edit_users_form").on("click",".close",function(){
    $(".edit_users_form").html("");
  });
</script>