<table style="text-align: center;">
  <tr>
    <td >任务批次</td>
    <td >上传日期</td>
    <td >状态</td>
    <td >下载任务</td>
    <td>下载flash源码</td>
    <td >确认终检</td>
  </tr>
  <%  @task_tags_arr.each do |task_tag| %>
    <tr>
      <td class="task_batch" task_tag_id="<%= task_tag[:id] %>" >
        <%= link_to "#{task_tag[:name]}", {:controller => "tasks", :action => "tasktag_pptlist", :task_tag_id => task_tag[:id]}, remote: :true, 'data_type' => "script" %>
      </td>
      <td><%= task_tag[:created_at]%></td>
      <td><%= task_tag[:complet_count]%><label style="font: oblique; font: 20px; margin: 0 auto;">|</label><%= task_tag[:unfinish_count]%></td>
      <td>
        <%  if task_tag[:complet_count] > 0 %>
        <input type="button" class="green_btn" value="下载任务" name="ajax_download" task_tag_id="<%= task_tag[:id] %>" />
        <% else %>
        <input type="button" class="gray_btn" value="下载任务" name="ajax_download" task_tag_id="<%= task_tag[:id] %>" disabled="disabled" />
        <% end %>
      </td>
      <td>
        <% if task_tag[:flash_count] > 0 %>
          <%= link_to "下载flash",{:controller=> "users",:action=>'flash_download',:task_tag_id => task_tag[:id]},confirm: '确认下载',:class=>"green_btn" %>
        <% else %>
          <input type="button" class="gray_btn" value="下载flash" name="ajax_final" task_tag_id="<%= task_tag[:id] %>"disabled="disabled" />
        <% end %>
      </td>
      <td>
        <% if  task_tag[:unfinish_count] >0 %>
          <input type="button" class="gray_btn" value="不可终检" name="ajax_final" task_tag_id="<%= task_tag[:id] %>"disabled="disabled" />
        <% else %>
          <% if task_tag[:status].eql?(TaskTag::STATUS[:COMPLETE]) %>
            <input type="button" class="gray_btn" value="终检完成" name="ajax_final" task_tag_id="<%= task_tag[:id] %>" disabled="disabled"/>
          <% else %>
            <input type="button" class="green_btn" value="确认终检" name="ajax_final" task_tag_id="<%= task_tag[:id] %>" />
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>